.my-bj {
  align-items: center;
  text-align: center;
}

.cards-info {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#root {
  min-height: 100vh;
  background-image: url("../src/images/bg.jpg");
}

.my-header {
  padding-top: 15px !important;
  color: white !important;
  font-size: 54px !important;
  max-width: 50vw;
  position: relative;
  left: 42.5vw;
  font-weight: bolder;
}

.my-card {
  max-width: 160px !important;
  min-height: 250px !important;
  margin: 10px !important;
  border: unset !important;
  text-align: center !important;
}
